body {
  max-width: 1080px;
  min-width: 400px;
  margin: 0 auto;
  background-color: thistle;
}

h1 {
  font-size: 4rem;
  font-family: cursive, serif;
  margin: 0;
  text-shadow: white 0 0 10px;
  color: rebeccapurple;
}

h2 {
  font-style: italic;
}

h3 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 1rem 5% 0;
}

span {
  font-weight: bold;
  font-style: italic;
}

br {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: rebeccapurple;
}

a:visited {
  color: maroon;
}

a:hover {
  color: purple;
}

.extra1, .extra2 {
  display: none;
}

.heading {
  text-align: center;
}

.oozeline img {
  width: 30%;
}

.col {
  width: 90%;
  background-color: mistyrose;
  margin: 0 auto 1rem;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: large;
}

.col img {
  width: 96%;
  max-width: 272px;
  display: block;
  margin: 0 auto;
}

.col h4 {
  text-align: center;
}

.profile {
  padding: 0 2%;
}

/* ==============================================
  Media Queries
  ==============================================*/
  @media only screen and (min-width: 600px){
    h1 {
      font-size: 6rem;
    }

    .extra1 {
      display:inline;
    }

    .oozeline img {
      width: 23%;
    }

    .col {
      height: 290px;
    }

    .col img{
      float: left;
      width: 50%;
      display: inline;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 8rem;
    }

    .col {
      width: 30%;
      float: left;
      padding-top: 0;
      height: 530px;
    }

    .col img {
      float: none;
      width: 96%;
      margin: 2% auto 0;
      display: block;
      padding: 0;
    }

    .cube, .jelly {
      margin: 0 2.5%;
    }

    .extra2 {
      display:inline;
    }

    .oozeline img {
      width: 18%;
    }

    .cube img{
      margin-bottom: 65px;
    }

    .pudding img{
      margin-bottom: 25px;
    }

  }

  /*Print stylesheet */

  @media print {
    * {
      background: transparent !important;
      color: #000 !important;
      text-shadow: none !important;
    }

    h1, h2 {
      margin: 0 auto;
      padding: 0;
    }

    .oozeline img {
      display: none;
    }
    a[href^="http:"]::after {
      content: " [" attr(href)"]";
      color: blue;
    }

    h2, ul{
      page-break-after: avoid;
    }

    p {
      orphans: 3;
      widows: 3;
      font-size: 11pt;
    }
  }
